<html>
<head>
	<script src="./node_modules/quirc.js/quirc.js"></script>
	<script src="./vendor/qrcode.js"></script>
	<script src="./sdp-minimizer.js"></script>
	<script src="./webrtc.js"></script>
	<script src="./node_modules/vue/dist/vue.js"></script>
	<script src="./app.js"></script>
</head>

<body>
	<style>
		.buttons button {
			width: 200px;
			height: 40px;
		}
	</style>

	<div id="app">
		<div class="buttons">
			<button v-on:click="setAsHost()">Host</button>
			<button v-on:click="setAsClient()">Client</button>
		</div>

		<div id="main">
			<canvas id="frame"></canvas>

			<div v-if="type === 'host'" id="host">
				<p>Enter client data:</p>
				<input v-model="remoteAnswer"></input>
				<button v-on:click="connectToClient()">Connect</button>

				<p>Host data:</p>
				<canvas v-qr-code="getImageData()"></canvas>
				<textarea readonly style="width: 500px; height: 100px;">{{getMinimized()}}</textarea>
			</div>
			<div v-if="type === 'client'" id="client">
				<p>Enter host data:</p>
				<input v-model="remoteOffer"></input>
				<button v-on:click="connectAsClient()">Connect</button>

				<p>Client data:</p>
				<textarea readonly style="width: 500px; height: 100px;">{{getMinimized()}}</textarea>
			</div>
		</div>
	</div>

</body>
</html>
